<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>平安京からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo2.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main-image.png" alt="平安京からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    
    <section id="loading">
      <h1 Align="center" style="height:300px;line-height:300px;">now loading...</h1>
    </section>
    <section id="loaded" style="display: none;">

 
      <div id="stage">

        <!-- STAGE1　ここから -->
        <div id="sectionStage1" class="stage">

          <!-- STAGE1問題セクション　ここから -->
          <section>
            <div class="section">
              <div class="container">
                <div style="background-color: rgb(230, 255, 240);border: inset 1px black;">
                  <p class="text-center">
                    <span style="font-size:  1.2em;">確認事項</span><br>
                    このゲーム用ウィンドウ(タブ)は3つある状態が正常です。<br>
                    もし、このウィンドウ含め2つしかない場合、先程まで開いていたウィンドウに戻り、「ウィンドウ再展開」して下さい。<br>
                    3つ開けない場合にはポップアップ許可を与えてから再度お試し下さい。
                  </p>
                </div><br><br><br><br>
                <h2 class="section-title section-title--keycolorlight"><span
                    class="section-title__stage">STAGE：1</span>邂逅</h2>
                <div class="container">
                  <div id="storyContainer">
                    <br>
                    <br>？？？「えーっと…すみませーん…聞こえますかー？」
                    <br>
                    <br>状況を確認。ここは自室。目の前にはpcがあり、ビデオ通話サービスが起動している。
                    <br>
                    <br>？？？「あのー…僕の声、届いてますかー？」
                    <br>
                    <br>pcの向こうから聞こえるのは、ややくぐもった人の声。ややハスキーな少年の声だ。音質は悪く、かなり聞き取りづらい。
                    <br>
                    <br>？？？「おかしいですね…〈意通術〉の〈組式〉はこれで合ってるはずなんですけど…」
                    <br>
                    <br>画面には人のシルエットがぼんやりと映っている。逆光のようで顔は見えない。
                    <br>解像度もビットレートもかなり低く、映像がカクカクしている。時折映像が乱れるというオマケ付きだ。
                    <br>全体的に薄暗いが、画面端に太陽が見えるから時刻は昼なのだろう。
                    <br>
                    <br>

                    <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                      <img class="img" src="assets/images/donyu.png">
                    </figure>

                    <br>？？？「はぁ…また失敗ですかぁ…。さっきまでと反応が違ったから成功したと思ったんですけど…」
                    <br>
                    <br>……流石にスルーし続けるのが可哀想になってきた。音声と映像が届いている旨を伝える。
                    <br>
                    <br>？？？「
                    <div class="p">おわぁ!?声が、聞こえ…!!!
                      <br>……あ、そうか！ようやく僕の〈意通術〉が成功したんですね！よかった…。
                      <br>あ、この板すごいですっ！いつもみたいに、簡単な意思疎通ができるだけかと思いきや……まさか音声と、こちらの映像も届くなんて…！
                    </div>」
                    <br>
                    <br>……「この板」……スマホのことか。
                    <br>
                    <br>？？？「
                    <div class="p">そ、それでですねっ！
                      <br>えっと…この〈龍脈〉の〈力塊〉が大きすぎて大変なんです！また彼らによって事件が引き起こされるかもしれません！
                    </div>」
                    <br>
                    <br>何の話だろうか。全く意味が分からない。あと音質と映像が非常に悪い。
                    <br>
                    <br>？？？「
                    <div class="p">そ、そうですよね…すみません。
                      <br>色々な出来事が重なって、慌ててました…。
                      <br>深呼吸…。
                      <br>はい。落ち着きました。ありがとうございます！今から順を追って説明しますね！
                      <br>
                      <br>オンシツ、ガシツ…？よくわからないですけど〈意通術〉の〈練度〉の事かな？ちょっと調整してみます！
                    </div>」
                    <br>
                    <br>一瞬画面が乱れる。気付くと映像が滑らかに、音質もクリアになっていた。
                    <br>
                    <br>

                    <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                      <img class="img" src="assets/images/donyu2.png">
                    </figure>

                    <br>？？？「これでどうでしょうか？……大丈夫そうですね。」
                    <br>
                    <br>カメラの位置も移動したようで、彼の姿も見えるようになった。
                    <br>どうやら声の主は少年だったようだ。なかなか整った顔である。
                    <br>服装は…和服、のような違うような。見たことの無い衣装だ。質素な印象を受ける。
                    <br>
                    <br>？？？「
                    <div class="p">それでは、まず自己紹介からですね！
                      <br>僕の名前は【太郎】です！……平凡な名前ですが、ちゃんと本名ですよ！
                      <br>
                      <br>……あなたのお名前も、聞かせてもらえますか？
                    </div>」
                    <br>
                    <br>
                    <div style="margin: 3em;"><label>名前を入力</label><br><input type="text" id="plName" value="ぷれいやー"
                        style="padding: 0;margin: 0;"></div>
                    <br>
                    <br>
                    <br>太郎「
                    <div class="p"><span class="you"></span>さん、ですね！よろしくお願いします！
                      <br>
                      <br>
                      <br>僕の話に戻りますと、僕の歳は16で、職業は、掃部(かもん)として働いてます！
                      <br>
                      <br>それで……実は僕、人に隠してる事があって…。
                      <br>うーん……この方に伝えても大丈夫でしょうか……。
                      <br>でも協力してもらうには伝えるしか……。
                    </div>」
                    <br>
                    <br>かなり悩んでいるようだ。彼を待つ間、背景にも目を向けてみる。
                    <br>彼のいる場所は、木製の建物に挟まれた細い通路。二人同時には通れない狭さだ。やや薄暗いが視界に問題は無い。
                    <br>両脇の建物は木製だがペンキなどでの着色は見られない。高さは1~2階建て程度。その分横に広い構造のようで画面奥まで木製の壁が見える。いわゆる平家建てだ。
                    <br>その先は通りだろうか。少年と似た格好の人がまばらに歩いている。
                    <br>
                    <br>太郎「
                    <div class="p">うーん…平気だと信じましょう…！
                      <br>
                      <br>実は僕、【陰陽師】なんです！
                      <br>
                      <br>……あれ、意外と驚きませんね…？
                    </div>」
                    <br>
                    <br>……オンミョウジ……陰陽師、か。
                    <br>名前くらいは聞いたことがある。どーまんせーまん
                    <br>ウィキ様の出番だ。
                    <br>
                    <br>
                    <div class="wikibox">
                      Wikipedia
                      <br>陰陽師（おんみょうじ、おんようじ）は、古代日本の律令制下において中務省の陰陽寮に属した官職の1つで、陰陽五行思想に基づいた陰陽道によって占筮（せんぜい）及び地相などを職掌とする方技（技術系の官人。技官）として配置された者を指す。中・近世においては民間で私的祈祷や占術を行う者を称し、中には神職の一種のように見られる者も存在する。
                    </div>
                    <br>なるほど。昔の日本の職業占い師か。
                    <br>……職業？彼は、掃部(かもん)……掃除屋のような職業、ではなかったか？
                    <br>
                    <br>太郎「
                    <div class="p">あ、あれ…？もしかして……陰陽師について、ご存知ない…？
                      <br>まさかあの事件を……いやでも田舎の方なら情報が……それなら隠さなくても……。
                    </div>」
                    <br>
                    <br>何か情報の食い違いがあるようだ。となると当人から説明を受けるべきだろう。
                    <br>しかし、その前に。
                    <br>いい加減明確にすべきだろう。
                    <br>画面の向こうは、いつ、どこなのか。
                    <br>
                    <br>太郎「
                    <div class="p">あぁそうですね！確かに場所は気になりますよね。
                      <br>今僕がいる、ここは、
                      <br>【平安京】
                      <br>の、朱雀門前です！平安京のど真ん中ですよ。
                      <br>
                      <br>え、時間？今はだいたい午の刻くらいですよね？
                      <br>ではなく……年ですか…。
                      <br>寛和2年の長月、27日ですよ。
                      <br>……なんでそんな事聞くんですか…？
                    </div>」
                    <br>
                    <br>寛和……ググる。
                    <br>
                    <br>980年台の年号。そして、【平安時代】
                    <br>
                    <br>平安……やはり平安か……。
                    <br>通販サービスの商品届け先、太郎君や道往く人の服装、平家建て木造建築。そこに陰陽師である。
                    <br>彼の言う事が全て真実であれば、画面の向こうは平安時代の都市、平安京なのだろうか……。
                    <br>理性では到底信じられる話ではない。骨董無形な戯言であると一笑するのは容易い。だが、奇妙な実感がある。
                    <br>
                    <br>『これは平安京の物語である』と。
                    <br>
                    <br>
                    <br>太郎「
                    <div class="p">では、話を進めますね！……あれ、何の話でしたっけ？
                      <br>……あぁそれです！陰陽師とは何か、でした！<span class="you"></span>さんは知らない、んでしたよね…？
                      <br>そうですね……。この辺りでは常識でして、人に説明する事なんて滅多にないです。なのでどの順番で話せばいいのか…悩みますが……。
                      <br>
                      <br>世間一般的に「陰陽師」とは、『不思議な術を使う人々』を指します。
                      <br>中でも特に、僕みたいに、『〈龍脈〉を媒介して実世界に干渉することができる人たち』を指して使う事が多いようです。
                      <br>
                      <br>〈龍脈〉は…不思議な力の塊、という認識で大丈夫です。
                      <br>
                      <br>この〈龍脈〉は、普通は生き物しか持っていないハズなのですが、
                      <br>このふしぎな板…『すまほ』、でしたっけ。これすごいですよ！
                      <br>
                      <br>〈龍脈〉の力が、とっっっっっっっっっっても濃密に渦巻いていますっ!!!
                      <br>
                      <br>例えば今、僕の〈龍脈〉の力をそのまま放出すると————
                    </div>」
                    <br>
                    <br>バチッ　と。
                    <br>彼の手のひらから、何かが弾けるような音がした。
                    <br>
                    <br>太郎「
                    <div class="p">と、まぁこんな感じで、ちょっと驚かせる程度の事しかできないんですけど、
                      <br>……ちょっとだけ、このすまほの〈龍脈〉をお借りすると————
                    </div>」
                    <br>
                    <br>どーん
                    <br>
                    <br>太郎「ほえぁ!!!」
                    <br>
                    <br>小規模な爆発が起こった。
                    <br>
                    <br>太郎「
                    <div class="p">ひ、ひゃあ〜びっくりしましたっ！尻餅までついちゃって、お恥ずかしいです…。
                      <br>
                      <br>…見ましたか？こんな風に、少しお借りしただけでもあの威力なのです。全力で放出したら、どんな事態になるやら……。
                    </div>」
                    <br>
                    <br>……あまり想像したくはない。
                    <br>
                    <br>太郎「
                    <div class="p">でも世の中、力があれば、それを欲する人もいるんです…。
                      <br>中でも最も危険なのは、過激派の陰陽師たちです。
                    </div>」
                    <br>
                    <br>

                    <figure class="image__container" style="width: 20%;margin: 0 10% 0 10%;">
                      <img class="img" src="assets/images/mob.png">
                    </figure>

                    <br>太郎「
                    <div class="p">彼らは、何が何でも、このすまほを手に入れようとするでしょう。今も、このすまほを求めて探し回っています。
                      <br>彼らがこのすまほの〈龍脈〉を手に入れたら、一体なにをするのか。
                      <br>
                      <br>……想像するのも恐ろしいです。
                      <br>
                      <br>僕がこのスマホを、過激派よりも先に入手できたのは、偶然です。
                      <br>僕たち陰陽師は〈龍脈〉の流れを観ることができるのです。このすまほが出現した時、偶然近くにいたのが僕だった。それだけなのです。
                      <br>今は、僕の〈龍脈〉を隠れ蓑にして撹乱しているので、しばらくは見つからないでしょう。しかし、こんな誤魔化しは長くは持ちません。見つかってしまうのは、そう先ではありません。
                      <br>時間にして、
                      <br>
                      <br>【四半時】
                      <br>
                      <br>くらいでしょう。
                      <br>それまでに、このすまほを〈封印〉しないと……
                      <br>僕が見つかって、すまほが奪われて…………うぅ……
                      <br>怖い。ものすごく怖いです。
                      <br>でも、僕がやらないと…！
                    </div>」
                    <br>
                    <br>
                    <br>
                    <br>制限時間は、【 30分 】か。
                    <br>それまでにスマホを〈封印〉する必要がある、と。
                    <br>
                    <br>
                    <br>
                    <br>太郎「
                    <div class="p">〈封印〉の方法にはアテがあります。
                      <br>僕たち陰陽師の間に伝わる有名な御伽噺の中に、『内と外の〈龍脈〉を断ち、内部に干渉できなくさせる箱状の物体』が出てくるんです。
                      <br>ここ平安京の北の方にある『大内裏(だいだいり)』には……なんと！その、『箱状の物体』が保管してあるようなのです!!!
                      <br>その箱 ——『封印の箱』とでも呼びましょうか—— に、このすまほを隠せば、きっと〈封印〉できるハズなのです！
                    </div>」
                    <br>
                    <br>その封印の箱を見つければ良い、と。
                    <br>
                    <br>太郎「
                    <div class="p">どうも一人だと、心細くって…。
                      <br>このすまほ、に縁のある方なら、手伝っていただけるかな、と思いまして。
                      <br>
                      <br>無事、封印の箱を見つけて、封印するまで。
                      <br>協力して、いただけませんか……？
                    </div>」
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- STAGE1問題セクション　ここまで -->

          <!-- STAGE1解答入力セクション　ここから -->
          <section class="section bg-color--keycolor" id="select">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：1</span></h2>
              <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
              <br>
              <div style="display: flex;">
                <button v-on:click="answerInput(true, 'stage1', 1)"
                  onclick="document.getElementById('select').style.display = 'none';">協力する</button>
                <br>
                <button onclick="
                            document.getElementById('select').style.display = 'none';
                            document.getElementById('sectionStage1_1').style.display = 'block';
                            ">断る</button>
              </div>
            </div>
          </section>
          <!-- STAGE1解答入力セクション　ここまで -->

          <!-- STAGE1クリア画面　ここから -->
          <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
          -------------------------------------------------------------------------------------------------------->
          <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"
            class="section section--clear bg-color--gray">
            <div class="container">
              <div class="clear-message">
                <div class="clear-message__title">STAGE：１</div>
                <div class="clear-message__content">
                  <div style="display: flex;">
                    <div style="flex: 1;"></div>
                    <p style="flex: 6;">
                      <br>
                      あ、ありがとうございますっ！<br><br>
                      では、善は急げ！大内裏へ向かいましょう！<br>
                    </p>
                    <figure class="image__container" style="flex: 2 ; width: 100%; padding: 0;">
                      <img class="img" src="assets/images/onmyojikun2.png">
                    </figure>
                    <div style="flex: 1;"></div>
                  </div>
                </div>
                <button v-on:click="nextStage('stage1');getItem('person',2);" onclick="location.href='#sectionStage2'"
                  class="clear-message__btn btn">次のステージへ<svg class="btn__arrow">
                    <use xlink:href="#arrow"></use>
                  </svg></button>
              </div>
            </div>
          </section>
          <!-- STAGE1クリア画面　ここまで -->

        </div>
        <!-- STAGE1　ここまで -->

        <div id="sectionStage1_1" class="stage" style="display: none;">
          <section>
            <div class="section">
              <div class="container">
                <div class="container">
                  <div id="storyContainer">
                    <br>
                    <br>太郎「
                    <div class="p">
                      <br>そう、ですか……。
                      <br>
                      <br>いきなりこんな変な頼み事ですし。仕方ありませんよね。
                      <br>不安ですけど、僕一人でなんとかやってみます。
                      <br>きっと大丈夫です。なんとかなりますよ。
                      <br>
                      <br>ここまでお付き合い頂き、ありがとうございました。
                      <br>どうか、お元気で……
                      <br>
                    </div>」
                    <br>
                    <br>
                    <br>
                    <br>《　「 髯ｰ髯ｽ蟶ｫ螟ｪ驛察蟷ｳ螳我ｺｬ 」が通話を終了しました　》
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="section bg-color--keycolor">
            <div class="container">
              <div class="answer__container">
                <button onclick="badEnd()">通話を終了</button>
              </div>
            </div>
          </section>
        </div>





        <!-- STAGE2　ここから -->
        <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
        ----------------------------------------------------------------------->
        <div v-if="next['stage1']" id="sectionStage2" class="stage">
          <section>
            <div class="section">
              <div class="container">
                <h2 class="section-title section-title--keycolorlight"><span
                    class="section-title__stage">STAGE：2</span>潜入</h2>
                <div class="storyContainer">
                  <br>
                  <br>太郎「
                  <div class="p">着きました！
                    <br>ここが…大内裏です！広いですよねー。この塀の向こうに、いくつも建物があるそうですよ…！
                  </div>」
                  <br>
                  <br>画面には塀しか映っていないので具体的には何とも言えないが、確かに広い。
                  <br>
                  <br>太郎「
                  <div class="p">うーん……。役人が見張ってますね…。
                    <br>『封印の箱』は、普通の人にとってはただの頑丈な入れ物ですので…きっとこの大内裏には、他に何か価値の高い物があるのでしょう！さすが平安の都です！
                  </div>」
                  <br>
                  <br>大内裏、確か天皇の住処ではなかったか。
                  <br>
                  <br>太郎「
                  <div class="p">
                    <br>あっ
                    <br>そ、そそそそそうですねっ!
                    <br>ここ大内裏には、天皇様が住んでいらっしゃるんですよ！
                    <br>だからあんなに警備の役人がいるんですよ!!!
                    <br>
                    <br>……えーっと……
                    <br>あ、向こうに入り口があります！ちょっと中に入れないか聞いてみますっ！ではっ！
                  </div>」
                  <br>
                  <br>誤魔化したな……
                  <br>
                  <br><div class="br"></div>
                  <br>
                  <br>太郎「あのーすみませーん」
                  <br>
                  <br>管理人「……あ？んだこのガキ……迷子か？」
                  <br>
                  <br>
                  <figure class="image__container" style="width: 20%;margin: 0 10% 0 10%;">
                    <img class="img" src="assets/images/kanrinin.png">
                  </figure>
                  <br>
                  <br>太郎「違いますっ！えっと…中に、ちょっと用事があるんですけど……入れてもらえませんか…？」
                  <br>
                  <br>管理人「
                  <div class="p">はぁ？ここがどこだか知ってんのか!? 大内裏だぞ、だいだいり！天皇の御所だ！
                    <br>オレはここ大内裏の管理人だぞ！入れてやるわけねぇだろ！
                    <br>ガキの遊び場じゃねぇんだ！ほら帰った帰った！かくれんぼならよそでやるんだな！
                  </div>」
                  <br>
                  <br><div class="br"></div>
                  <br>
                  <br>太郎「ぐすん……。うぅ…ひどいです…。」
                  <br>
                  <br>まぁ普通は入れてもらえないだろう。
                  <br>
                  <br>太郎「
                  <div class="p">でも、なんとかして入らないと…。
                    <br>入れてもらえない…忍び込む…？
                    <br>見張りの情報でもあれば、なんとか…。
                    <br>そんな重要な情報は、どこにあるのでしょうか。……＜受付＞の中…？
                    <br>
                    <br>そうだっ！いい作戦思いつきました！
                    <br>この板、すまほ、でしたっけ。ずいぶんと不思議な物体ですけど、〈龍脈〉の流れを見るに……。
                    <br>この"穴"から外の様子が見えるのですよね…？
                    <br>僕がこのすまほを持って、あの管理人がいる所に突っ込みます！すまほを色んな方向に向けるので、その景色を記録してください！きっと何か重要な情報が入手できるハズです！
                    <br>
                    <br>名付けて『すまほ突撃大作戦』ですっ!!!
                  </div>」
                  <br>
                  <br>
                  <br>録画開始
                  <br>
                  <br>
                  <br><div class="br"></div>
                  <br>
                  <br>太郎「こーんにーちはー！」
                  <br>
                  <br>管理人「げ…また来やがった…」
                  <br>
                  <br>太郎「今日はいー天気でーすねー！」
                  <br>
                  <br>管理人「……おい面倒だからこっち来んなって！どんだけ頼まれても中には入れねーぞ!?」
                  <br>
                  <br>太郎「うわーつまずいたー(棒」
                  <br>
                  <br>管理人「うわっ！こいつ窓から飛び込んできやがった!?」
                  <br>
                  <br>太郎「わーたすけてー(棒」
                  <br>
                  <br>管理人「あっあ、ちょま、やめろ、暴れんなって！あぁぁ書類が！……っこんのガキぃ…！」
                  <br>
                  <br>太郎「わーにげろーごめんなさーい(棒」
                  <br>
                  <br>管理人「あ、待てっ……逃げ足早えぇなクソが…」
                  <br>
                  <br><div class="br"></div>
                  <br>
                  <br>太郎「どうですか！うまく記録できましたか!?」
                  <br>
                  <br>あんな適当な作戦でも、収穫は大きかった。
                  <br>録画した動画から、使えそうな写真を抽出し、見やすいように編集して…
                  <br>
                  <br>
                  <br>完成だ。
                  <br>
                  <br>
                  <button class="itemButton" id="itemButton1" v-on:click="getItem('item',2,true)"
                    onclick="document.getElementById('itemHide1').style.display = 'block';document.getElementById('itemButton1').style.display = 'none';">アイテム入手</button><br>
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <div id="itemHide1" style="display: none;">
              <div class="section">
                <div class="container">
                  <div class="storyContainer">
                    <br>
                    <br>彼にも共有しておく。
                    <br>
                    <br>
                    <br>
                    <figure class="image__container" style="margin: auto;">
                      <img class="img" src="assets/images/nazo1-2.png">
                    </figure>
                    <br>
                    <br>
                    <br>太郎「
                    <div class="p">す、すごいです……！
                      <br>
                      <br>これは……ここ大内裏の地図ですね。
                      <br>そういえば僕も大内裏の地図持ってますよ！
                    </div>」
                    <br>
                    <br>
                    <figure class="image__container" style="margin: auto">
                      <img class="img" src="assets/images/nazo1-1.png">
                    </figure>
                    <br>
                    <br>
                    <br>太郎「
                    <div class="p">〈龍脈〉の流れからして、きっとこの建物に封印の箱があると思うのですが…。
                    <br>
                    <br>どの道を通れば、うまく忍び込めるでしょうか…？
                    </div>」
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
              <div class="stage-column__container section bg-color--keycolor">
                <div class="container">
                  <h2 class="section-title"><span class="section-title__stage">STAGE：2</span></h2>
                  <!-------------------------------------------------------------
                  class名"row"内のclass名"column"が横並びになります。
                  改行する場合は以下のように追加してください。
                  <div class="row">
                    <div class="column">
                      ～ 内容 ～
                    </div>
                  </div>
                  ------------------------------------------------------------->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']"
                    v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                  <!-- STAGE2-1　ここまで -->
                </div>
              </div>
            </div>
          </section>
          <!-- STAGE2クリア画面　ここから -->
          <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"
            class="section section--clear bg-color--gray">
            <div class="container">
              <div class="clear-message">
                <div class="clear-message__title">STAGE：2　クリア！</div>
                <div class="clear-message__content">
                  <div style="display: flex;">
                    <div style="flex: 1;"></div>
                    <p style="flex: 6;">
                      <br>
                      なるほど、その道なら見つからなさそうですね！<br><br>
                      先ほどあちらの役人が移動したので、<br>
                      今なら忍び込めるハズです！
                    </p>
                    <figure class="image__container" style="flex: 2 ; width: 100%; padding: 0;">
                      <img class="img" src="assets/images/onmyojikun3.png">
                    </figure>
                    <div style="flex: 1;"></div>
                  </div>
                </div>
                <button v-on:click="nextStage('stage2');getItem('person',3);" onclick="location.href='#sectionStage3'"
                  class="clear-message__btn btn">次のステージへ<svg class="btn__arrow">
                    <use xlink:href="#arrow"></use>
                  </svg></button>
              </div>
            </div>
          </section>
          <!-- STAGE2クリア画面　ここまで -->
        </div>
        <!-- STAGE2　ここまで -->

        <!-- STAGE3　ここから -->
        <div v-if="next['stage2']" id="sectionStage3" class="stage">

          <!-- STAGE3-1問題セクション　ここから -->
          <section>
            <div class="section">
              <div class="container">
                <h2 class="section-title section-title--keycolorlight"><span
                    class="section-title__stage">STAGE：3</span>発見</h2>
                <div class="storyContainer">
                  <br>
                  <br>太郎「
                  <div class="p">ふ〜
                    <br>なんとかここまで来ました…。途中で何度か見つかりそうになりましたね…。あぁ緊張しました…。
                    <br>ここが、大内裏の中の一棟、『宝物庫』ですか！立派な建物ですねー。
                  </div>」
                  <br>
                  <br>
                  <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                    <img class="img" src="assets/images/denmae.png">
                  </figure>
                  <br>
                  <br>太郎「
                  <div class="p">……〈龍脈〉が不自然に途切れています…。
                    <br>やはり、この宝物庫の中に、封印の箱がありそうですよ。
                    <br>幸いな事に人の気配はしませんし、開けちゃいますね！
                  </div>」
                  <br>
                  <br>無骨な建物の扉が、開く。
                  <br>
                  <br>太郎「
                  <div class="p">うわぁ……。
                    <br>とても、散らかっていますよ…。ぐちゃぐちゃです…。
                    <br>これ、本当に宝物庫ですか…？物置の間違いでは…？
                    <br>足の踏み場が……。
                  </div>」
                  <br>
                  <br>恐る恐る足を踏み入れる。
                  <br>
                  <br>太郎「
                  <div class="p">……でも、あるのは質のいい物ばかりなんですね。
                    <br>この落ちてる服なんて、綺麗な装飾なのに…。ちょっともったいない気がします…。
                  </div>」
                  <br>
                  <br>
                  <br>
                  <br>散乱している物を踏まないように注意しつつ探索する事数分。
                  <br>
                  <br>太郎「あ、ほらありましたよ！あれが『封印の箱』です！」
                  <br>
                  <br>
                  <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                    <img class="img" src="assets/images/kinko.png">
                  </figure>
                  <br>
                  <br>太郎「
                  <div class="p">やりました！見つけるのに時間が掛からなくてよかったです〜
                    <br>サクッと封印しちゃいましょう！
                    <br>
                    <br>……
                    <br>…………
                    <br>んん〜？開きませんよ…？
                  </div>」
                  <br>
                  <br>思い切り引っ張っているようだがびくともしていない。
                  <br>
                  <br>太郎「
                  <div class="p">開きません…どうしましょう…。
                    <br>何か、鍵のようなものが必要なのでしょうか…？
                    <br>
                    <br>……あ、紙が貼ってあります…！
                    <br>えっと……
                  </div>」
                  <br>
                  <br>
                  <button class="itemButton" id="itemButton2" v-on:click="getItem('item',8,true)"
                    onclick="document.getElementById('itemHide2').style.display = 'block';document.getElementById('itemButton2').style.display = 'none';">アイテム入手</button><br>
                  <br>
                  <br>
                </div>
              </div>
            </div>
            <div id="itemHide2" style="display: none;">
              <div class="section">
                <div class="container">
                  <div class="storyContainer">
                    <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                      <img class="img" src="assets/images/nazo2-0.png">
                    </figure>
                    <br>
                    <br>太郎「これは、どういうことでしょうか……？」
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>

              <!-- STAGE3-1問題セクション　ここまで -->

              <!-- STAGE3-1解答入力セクションここから -->
              <div class="section bg-color--keycolor">
                <div class="container">
                  <h2 class="section-title"><span class="section-title__stage">STAGE：3</span></h2>
                  <!-----------------------------------------------------------------------------------------------------------------
                      解答入力欄のコンポーネントです。
                      v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
                      4番目の引数 'final' は最終ステージを表します。
                    ------------------------------------------------------------------------------------------------------------------>
                  <answer-input v-bind:correct="correctAnswer['stage3']['q1']"
                    v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
                  <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
                </div>
              </div>
            </div>
          </section>
          <!-- STAGE3-1解答入力セクション　ここまで -->
          <!-- STAGE3クリア画面　ここから -->
          <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"
            class="section section--clear bg-color--gray">
            <div class="container">
              <div class="clear-message">
                <div class="clear-message__title">STAGE：3　クリア！</div>
                <div class="clear-message__content">
                  <div style="display: flex;">
                    <div style="flex: 1;"></div>
                    <p style="flex: 6;">
                      <br>
                      なるほど！4つの謎の答えを並べて読むのでしたか！<br><br>
                      おしいれ……押し入れですか。探してみます！
                    </p>
                    <figure class="image__container" style="flex: 2 ; width: 100%; padding: 0;">
                      <img class="img" src="assets/images/onmyojikun2.png">
                    </figure>
                    <div style="flex: 1;"></div>
                  </div>
                </div>
                <button v-on:click="nextStage('stage3');getItem('item',9);" onclick="location.href='#sectionStage4'"
                  class="clear-message__btn btn">次のステージへ<svg class="btn__arrow">
                    <use xlink:href="#arrow"></use>
                  </svg></button>
              </div>
            </div>
          </section>
          <!-- STAGE2クリア画面　ここまで -->

        </div>
        <!-- STAGE3　ここまで -->


        <!-- STAGE4　ここから -->
        <!---------------------------------------------------------------------
                クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
                v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
              ----------------------------------------------------------------------->
        <div v-if="next['stage3']" id="sectionStage4" class="stage">
          <section>
            <div class="section">
              <div class="container">
                <h2 class="section-title section-title--keycolorlight"><span
                    class="section-title__stage">STAGE：4</span>封印</h2>
                <div class="storyContainer">
                  <br>
                  <br>太郎「
                  <div class="p">おしいれ、おしいれ……
                    <br>あ、鍵見つけました_！
                  </div>」
                  <br>
                  <br>
                  <br>
                  <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                    <img class="img" src="assets/images/kagihakken.png">
                  </figure>
                  <br>
                  <br>
                  <br>
                  <br>太郎「
                  <div class="p">んー…こう、かな。
                    <br>やった！封印の箱、開きましたよ！
                  </div>」
                  <br>
                  <br>
                  <br>
                  <br>
                  <figure class="image__container" style="width: 80%;margin: 0 10% 0 10%;">
                    <img class="img" src="assets/images/akikinkomonoari.png">
                  </figure>
                  <br>
                  <br>


                  <!--２週目用-->
                  <br>太郎「……あれ、中になにか入っていますね。」
                  <br>
                  <br>…………よく見えない。何が入っているのだろう。
                  <br>
                  <br>



                  <br>太郎「
                  <div class="p">これでようやく封印できますっ！
                    <br>閉めた後、この鍵は川にでも捨てちゃいましょう。そうすればこの封印の箱は、もう誰も開けられません！
                  </div>」
                  <br>
                  <br>…………封印されたら、この通信は途切れるのだろうか。そして何事も無かったかのように、またいつもの日常が始まるのだろうか。
                  <br>
                  <br>太郎「
                  <div class="p"><span class="you"></span>さん。ご協力いただき、ありがとうございます！
                    <br>こうして無事封印できるのも<span class="you"></span>さんのお陰です！
                  </div>」
                  <br>
                  <br>……元を辿れば自分が注文したのが原因なのだが、それは黙っておこう。
                  <br>
                  
                  <!--分岐ここから-->

                  <br>太郎「
                  <div class="p">では追っ手が来ない内に封印しちゃいますね。
                    <br>
                    <br>…………さようなら。<span class="you"></span>さん。
                  </div>」
                  <br>
                  <br>そっと封印の箱の中に置かれる。
                  <br>一瞬、箱の中に入っていた物が見えた気がした。紙束と、鍵、のようなもの。
                  <br>
                  <br>こちらを見下ろす太郎君の顔。
                  <br>嬉しそうな表情の中、どこか悲しさを押し殺しているようにも見える。
                  <br>
                  <br>閉まりゆく封印の扉。
                  <br>画面が黒に塗りつぶされていく。
                  <br>完全に闇に飲まれようとする最中、微かに聞こえたのは。
                  <br>
                  <br>
                  <br>太郎「
                  <div class="p">
                    <br>
                    <br>これで、いいんだ——————
                    <br>
                  </div>」

                  <!--分岐ここまで-->

                  <!--2週目なしver

                  <br>太郎「
                  <div class="p">では追っ手が来ない内に封印しちゃいますね。
                    <br>
                    <br><span class="you"></span>さん。どうもありがとうございました！
                  </div>」
                  <br>
                  <br>そっと封印の箱の中に置かれる。
                  <br>笑顔の太郎君が、ゆっくりと遠ざかる。
                  <br>
                  <br>太郎「では、さようなら！お元気で！」
                  <br>
                  <br>重厚な音を立てて、扉が閉まる。
                  -->

                  <br>
                  <br>
                  <br>《　「 髯ｰ髯ｽ蟶ｫ螟ｪ驛察蟷ｳ螳我ｺｬ 」が通話を終了しました　》
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </div>
          </section>
          <section class="section bg-color--keycolor">
            <div class="container">
              <div class="answer__container">
                <button v-on:click="answerInput($event, 'stage4', 1, 'final')">通話を終了</button>
              </div>
            </div>
          </section>
        </div>
        <!-- STAGE4　ここまで -->

      </div>
    </section>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
