<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>平安京からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo2.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main index-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/top-image.png" alt="Presented by SCRAP×N・S高リアル脱出ゲーム制作PJ 平安京からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <section id="loading">
      <h1 Align="center" style="height:300px;line-height:300px;">now loading...</h1>
    </section>
    <section id="loaded" style="display: none;">

      <section class="section section--story" v-if="next['stage1']">
        <div class="container">
          <div id="storyContainer" class="text-center" style="font-size: 1.5em;">
            <h2 class="section-title section-title--keycolor section-title--story">ストーリー</h2>
            <br>新しいスマホが欲しい。
            <br>
            <br>このご時世だ。通販で購入しよう。
            <br>
            <br>
            <button id="orderButton" v-on:click="am_order()" class="btn">購入ページへ</button>
          </div>
        </div>
      </section>
      <section class="section" v-if="next['stage2']">
        <div class="container">    
          <div id="storyContainer">
            <h2 class="section-title section-title--keycolor section-title--story">ストーリー</h2>
            <br>
            <br>
            <br>
            <br>
            <br>……
            <br>…………
            <br>
            <br>注文してしまった…。
            <br>
            <br>スマホ、「平安京」に注文してしまった……。
            <br>
            <br>どうしてこうなった…？
            <br>
            <br>新しいスマホでも買おうと、密林のような某通信販売サイトを巡っていた。
            <br>良さげなスマホを見つけたので注文しようとした。
            <br>届け先「平安京」で注文してしまった。
            <br>
            <br>なぜか…？
            <br>届け先設定の候補が、「平安京」のみだったから。
            <br>
            <br>……ダメだ。訳が分からない。
            <br>
            <br>
            <br>とりあえず平安京についてググってみる。
            <br>
            <br><div class="wikibox">
            Wikipedia
            <br>平安京（へいあんきょう／たいらのみやこ）または平安城（へいあんじょう）は、794年（延暦13年）から日本の都であった都市。
            <br>長岡京から遷都する地として山背国（山城国）愛宕・葛野の両郡にまたがる地が選ばれ、中国の洛陽城や長安城を模して建設された。
            </div>
            <br>
            <br>京都あたりに存在した、昔の都市。時代はそのまま平安時代。今はもう存在していない事もしっかりと確認。
            <br>
            <br>
            <br>注文したスマホはどうなるのだろうか。果たして発送されるのだろうか。
            <br>そうだ。少々慌てたが、常識的に考えてあれは何かの表記ミスである筈だ。
            <br>どうせ「お届け先が不明です」とかで向こうの都合で強制キャンセルされるのがオチだろう。
            <br>心配ではあるが、気長に待つしかない。
            <br>
            <br>
            <br>数分後、通販サービスから連絡があった。「商品は無事お届けした」との事だ。
            <br>これはどういうことだ。どこにお届けされたのだろうか。自分の所には来ていない。それはそうだ。住所なんて入力していない。なら…もし、あるとするなら…平安京なのか…？
            <br>……そんなまさか。
            <br>
            <br>
            <br>
            <br>突如、通知が来た。
            <br>
            <br>某ビデオ通話サービスからだ。
            <br>通話に招待されている、らしい。
            <br>
            <br>相手の番号は「 髯ｰ髯ｽ蟶ｫ螟ｪ驛察蟷ｳ螳我ｺｬ 」
            <br>番号が文字化けしている…そんな事がありえるのか…？
            <br>
            <br>自分の電話番号は、通販サービスに登録してある。通販の連絡の直後、偶然とは思えない。
            <br>一体誰が何の目的で掛けてきたのか。
            <br>
            <br>
            <br>《　「 髯ｰ髯ｽ蟶ｫ螟ｪ驛察蟷ｳ螳我ｺｬ 」が通話を待機しています　》
            <br>
            <br>
            <br>
            <br>
            <br>
          <div v-on:click="nextStart()" class="btn">通話を開始<svg class="btn__arrow"></svg></div>
        </div>
      </div>
    </section>
      <section class="section" v-if="next['stage2.5']">
        <div class="container">
          <div id="storyContainer">
            <h2 class="section-title section-title--keycolor section-title--story">ストーリー</h2>
            <br>
            <br>
            <br>
            <br>
            <br>……
            <br>…………
            <br>
            <br>注文してしまった…。
            <br>
            <br>スマホ、「平安京」に注文してしまった……。
            <br>
            <br>
            <br>また、である。
            <br>
            <br>再び平安京に繋ぐ。そのためにまた、注文した。
            <br>
            <br>今度はどこに繋がるだろう。また運良く太郎君が拾ってくれるだろうか。
            <br>
            <br>……もし、太郎君ではなく、過激派陰陽師が拾ってしまったら…？
            <br>
            <br>考えても仕方がない。もう注文してしまったのだから。
            <br>
            <br>
            <br>突如、通知が来た。
            <br>
            <br>某ビデオ通話サービスからだ。
            <br>通話に招待されている、らしい。
            <br>
            <br>相手の番号は「 髯ｰ髯ｽ蟶ｫ螟ｪ驛察蟷ｳ螳我ｺｬ 」
            <br>
            <br>あぁ……彼の番号だ。
            <br>良かった。無事、彼の元にお届けされたようだ。
            <br>これでまた、彼と話せる。
            <br>
            <br>《　「 髯ｰ髯ｽ蟶ｫ螟ｪ驛察蟷ｳ螳我ｺｬ 」が通話を待機しています　》
            <br>
            <br>
            <br>
            <br>
            <br>
            <div v-on:click="nextStart()" class="btn">通話を開始<svg class="btn__arrow"></svg></div>
          </div>
        </div>
      </section>
    <section class="section" v-if="next['stage3']">
      <div class="container">
        <div id="storyContainer" style="text-align: center;">
          <br><br><br><br><br>
          <h2 class="section-title section-title--keycolor section-title--story">ウィンドウについての説明</h2>
          <br>このゲームは、ウィンドウ(タブ)を3つ使用します。
          <br>
          <br>・このウィンドウ
          <br>・本編ウィンドウ
          <br>・情報管理ツール
          <br>
          <br>の3つです。
          <br>
          <br>どれか一つでも開けていない場合、以下の「ウィンドウ再展開」ボタンから開いて下さい。
          <br>もし開けない場合にはポップアップ許可を与えてから再度お試し下さい。
          <br><div v-on:click="reStart()" class="btn">ウィンドウ再展開<svg class="btn__arrow"></svg></div>
          <br>
          <br>本編進行中にも、このウィンドウは閉じないで下さい。
          <br>
          <br>
          <br>
          <br>
          <br><h2 class="section-title section-title--keycolor section-title--story">情報管理ツールについて</h2>
          <br>
          <br>ゲーム中に入手した情報や、受け取ったメール(という設定の何か)を確認できます。
          <br>情報は、ストーリーを進めると順次入手できます。
          <br>右上の「更新」ボタンを押すことで更新できます。
          <br>
          <br>"序盤は"使わなくても進行に問題はありませんが、本編には載っていない情報などもあります。
          <br>時にはヒントになる事もあるかもしれません。ぜひ活用して下さい。
          <br><br><br><br><br>
        </div>
      </div>
    </section>
    </section>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
      <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
      <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
      <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>
